<h1>Mom's nagging list</h1>

<ul>
  <% @list.each do |s| %>
    <li>
      <%= link_to "#{s.item}", task_path(s) %>
    </li>
  <% end %>
</ul>

<p><%= link_to "Create New Task", new_task_path %></p>
